<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
    <link rel="stylesheet" href="/create.css">
</head>
<body>
    
        
        <form action="/home" method="post" enctype="multipart/form-data">
            <h2>Create new Post</h2>
            <input class="inputone" type="text" placeholder="Enter username" name="username"><br><br>
            <div class="upload-container">
                <input class="upload-input" type="file" id="file-upload" name="img" accept="image/*" required>
                <label class="upload-button" for="file-upload">Upload Image</label>
              </div>
              
            <textarea placeholder="add caption here" name="content" id="" rows="10" cols="35"> </textarea><br>
            <button>Submit</button>
    </form>
</body>
</html>